<head>
  <title>Communications Portfolio</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/communications/intro.css') }}">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

  <h1 align="center" class="headtitle">
Communications Merit Badge Portfolio
      </h1>
  <h3 class="reqtitle" align="center">
by Jordan Mann
  </h3>
</head>

<br>
<br>
<br>

<body>
  <h3 class="reqtitle">Requirement 1 (a).</h3>
  <p class="reqbody"><strong>&nbsp;a. For one day, keep a log in which you describe your communication activities. Keep track of the time and different ways you spend communicating, such as talking person-to-person, listening to teachers or the radio, watching television, reading books and other print media, and using any electronic communication device. Discuss with your counselor what your log reveals about the importance of communication in your life. Think of ways to improve your communications skills.</strong>
  <br>
  <br>
  <p class="reqbody" align="right">4/26/2017</p>
  <p class="reqbody">
    <table id="timestable">
        <thead>
            <tr>
                <th>Time</th><th>Form of Communication</th>
            </tr>
        </thead>
        <tbody>
            <tr><td>6:40 AM</td><td>Said good morning to family</td></tr>
            <tr><td>7:05 AM</td><td>Checked Email and Instant Messages</td></tr>
            <tr><td>7:10 AM</td><td>Discussed homework over breakfast</td></tr>
            <tr><td>8:05 AM</td><td></td></tr>
            <tr><td>8:32 AM</td><td></td></tr>
            <tr><td>9:50 AM</td><td></td></tr>
            <tr><td>10:05 AM</td><td></td></tr>
            <tr><td>11:52 AM</td><td></td></tr>
            <tr><td>12:07 PM</td><td></td></tr>
            <tr><td>1:50 PM</td><td></td></tr>
            <tr><td>6:30 PM</td><td></td></tr>
            <tr><td>7:30 PM</td><td></td></tr>
            <tr><td>9:00 PM</td><td></td></tr>
            <tr><td>9:30 PM</td><td></td></tr>
        </tbody>
    </table>
  </p>
  <br>

  <br>
  <br>
</body>
<footer align="center" class="reqbody">© 2017 <a href="https://jrmann.com">Jordan Mann</a></footer>

