<head>
  <title>Troop 59 Unofficial Website</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/index.css') }}">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/SVG-Morpheus/0.3.2/svg-morpheus.js"></script>
  <script src="{{ url_for('static', filename='scripts/index.js') }}"></script>

  <table id="hiddentable" align="center">
    <td>
      <h1>
Troop
</h1></td>
    <td><img id="logo" height="100px" src="https://static.wixstatic.com/media/526a53_36de8bd9a81045b9a04a6f88ca556f7b.jpg/v1/fill/w_695,h_463,al_c,q_90,usm_0.66_1.00_0.01/f467ee_94e4a0bb067441b1b14c6c0cff975279.jpg"></td>
    <td>
      <h1>
BSA
</h1></td>
  </table>
  <h3 align="center">
Unofficial Website by Jordan Mann
</h3>
</head>

<br>
<br>
<br>

<body>
  <h4>Recent articles:</h4>
  <table id="otherhiddentable">
    <td>&nbsp; Troop 59 is an official Boy Scout Troop. That means you can join us! Check out the <a href="https://scouting.org">official Scouting website</a> for more information.</td>
    <td>&nbsp; Interested in our Troop? Well, you haven't come to the right place. This website was actually made to complete a Boy Scout Merit Badge requirement (Communications, requirement 7b.). If you want to check out our <i>official</i> Wix website,
      you can find it at:
      <br>
      <a href="https://troop59bsa.org">
        <p id="bsalink">Troop59BSA.org</p>
      </a>
    </td>
    <td>&nbsp; Jordan Mann earned his Programming Merit Badge just last weekend! Be sure to congratulate him!
      <img height="100px" src="https://s4.postimg.io/yns7r9qct/programming.png"></td>
  </table>
  <br>
  <br>
</body>
<footer align="center">© 2017 <a href="https://jrmann.com">Jordan Mann</a></footer>

